= simple_form_for(@service, :html => { :class => 'form-horizontal' }) do |f|
  -if @service.errors.any?
    #error_explanation
      %h2= "#{pluralize(@service.errors.count, "error")} prohibited this service from being saved:"
      %ul
        - @service.errors.full_messages.each do |msg|
          %li= msg
  = f.input :name, :wrapper => :prepend, :label => false do
    = content_tag :span, "Name", :class => "add-on"
    = f.input_field :name
  = f.input :description, :wrapper => :prepend, :label => false do
    = content_tag :span, "Message", :class => "add-on"
    = f.input_field :description
  - $cnt = 0
  = f.simple_fields_for :events do |m|
    = if ($cnt == @count  )
      = m.input :message, :wrapper => :prepend, :label => false do
        = content_tag :span, "Event", :class => "add-on"
        = m.input_field :message
      = m.input :status_id, :collection =>  @statuses
    -$cnt += 1

  %br
  = f.button :submit, :class => 'btn-primary'

