-#= form_for @service do |f|
-#  -if @service.errors.any?
-#    #error_explanation
-#      %h2= "#{pluralize(@service.errors.count, "error")} prohibited this service from being saved:"
-#      %ul
-#        - @service.errors.full_messages.each do |msg|
-#          %li= msg
-#  .field
-#    = f.label :name
-#    = f.text_field :name
-#  .field
-#    = f.label :message
-#    = f.text_field :description
-#  .actions
-#    = f.submit 'Save'

= simple_form_for(@service, :html => { :class => 'form-horizontal' }) do |f|
  -if @service.errors.any?
    #error_explanation
      %h2= "#{pluralize(@service.errors.count, "error")} prohibited this service from being saved:"
      %ul
        - @service.errors.full_messages.each do |msg|
          %li= msg
  = f.input :name, :wrapper => :prepend, :label => false do
    = content_tag :span, "Name", :class => "add-on"
    = f.input_field :name
  = f.input :description, :wrapper => :prepend, :label => false do
    = content_tag :span, "Message", :class => "add-on"
    = f.input_field :description
  = f.input :events, :wrapper => :prepend, :label => false do
    = content_tag :span, "Event", :class => "add-on"
    = f.input_field :events
  = f.button :submit, :class => 'btn-primary'
