%div.page-header
  %h1 Services
.container
  %table.table.table-bordered.table-striped.table-condensed
    %thead
      %tr
        %th Service
        -#%th Id
        %th Current
        -(1..6).each do |num|
          -#-date = Date.today-num
          -d = Time.now - (num * 86400)
          -date = d.utc
          %th= date.strftime('%b %d')
          -#%th= Date.today.('%m-%d')
        -if current_user
          %th
    %tbody
      - @services.each do |service|
        %tr
          %td= link_to service.name, service
          -#%td= service.id
          -(0..6).each do |num|
            %td
              -#%br= date = Date.today-num
              -#%br= date.utc
              - t = Time.now - (num * 86400)
              - time = t.utc
              - dateutc = time.strftime("%Y-%m-%d")
              -#%br= date = dateutc-num
              -maxevnt = {}
              -@evntdate = Event.joins('INNER JOIN services ON events.service_id = services.id INNER JOIN statuses ON events.status_id = statuses.id').where("events.service_id= ? AND events.created_at > ? ",service.id, time.to_date )
              -@evntdate.each do |e|
                -if(time.to_date ==  e.created_at.to_date)
                  -maxevnt[e.id] = e.created_at
              -max = maxevnt.max_by{|k,v| v}
              -unless max.nil?
                -eventid = max[0]
                -img = []
                -@evntdate.each do |e|
                  -@status.each do |st|
                    -if(e.id == eventid && st.id == e.status_id)
                      - img.push(st.images)
                %i{:class=>img.uniq[0]}
          -if current_user
            %td
              %button.btn.btn-danger.btn-small
                %i.icon-remove-sign
                = link_to 'Delete', service, :confirm => 'Are you sure?', :method => :delete
  -if current_user
    %p
      %button.btn.btn-success
        = link_to 'New Service', new_service_path
  .container.span4
    %table.table.table-bordered.table-striped.table-condensed
      %thead
        %tr
          %th{:colspan => "2"} Status Legend
        - @statuses.each do |status|
          %tr
            %td
              %i{:class=>status.images}
            %td= status.description

-