%h1 Services

%table.maincontainer
  %tr
    %th Name
    %th Description
    -(0..5).each do |num|
      %th= Date.today-num
    %th
    %th
    %th


  - @services.each do |service|
    %tr
      %td= service.name
      %td= service.description
      -(0..5).each do |num|
        %td= "status"
      %td= link_to 'Show', service
      %td= link_to 'Edit', edit_service_path(service)
      %td= link_to 'Destroy', service, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Service', new_service_path
