-#%h1 Services
.container
%table.data
  %tr
    %th Service
    %th Description
    -(0..5).each do |num|
      -date = Date.today-num
      %th= date.strftime('%b %d')
      /      %th= Date.today.('%m-%d')

    %th
  - @services.each do |service|
    %tr
      %td= link_to service.name, service
      %td= service.description
      -(0..5).each do |num|
        %td= "status"
      -#%td= link_to 'Show', service
      -#%td= link_to 'Edit', edit_service_path(service)
      %td= link_to 'Delete', service, :confirm => 'Are you sure?', :method => :delete

= link_to 'New Service', new_service_path
%br
%br
%table.data
  %tr
    %th{:colspan => "2"} Status Legend
    - @statuses.each do |status|
      %tr
        %td= status.name
        %td= status.description

/- @service.status.each do |status|
/  status.name
/  %p= status.name, status.description

/Read list from status model

-#%ul
-# - @widgets.each do |widget|
-#   %li
-#     = widget.name
-#     %ul
-#       - widget.gadgets.each do |gadget|
-#         %li
-#           %span #{gadget.name}: #{gadget.info}
-#           - gadget.controls.each do |control|
-#             %ul
-#               %li
-#                 %span #{control.name}: