%h1 Services

%table.data
  %tr
    %th Name
    %th Description
    -(0..5).each do |num|
      %th= Date.today-num
    %th



  - @services.each do |service|
    %tr
      %td= link_to service.name, service
      %td= service.description
      -(0..5).each do |num|
        %td= "status"
      -#%td= link_to 'Show', service
      -#%td= link_to 'Edit', edit_service_path(service)
      %td= link_to 'Delete', service, :confirm => 'Are you sure?', :method => :delete


= link_to 'New Service', new_service_path
%br
%br
Status Legend
/Read list from status model

