= simple_form_for @status do |f|
  -if @status.errors.any?
    #error_explanation
      %h2= "#{pluralize(@status.errors.count, "error")} prohibited this status from being saved:"
      %ul
        - @status.errors.full_messages.each do |msg|
          %li= msg
  = f.input :name, :wrapper => :prepend, :label => false do
    = content_tag :span, "Name", :class => "add-on"
    = f.input_field :name
  = f.input :description, :wrapper => :prepend, :label => false do
    = content_tag :span, "Description", :class => "add-on"
    = f.input_field :description
  -icons = ["icon-refresh", "icon-star","icon-star-empty","icon-th-large","icon-ok","icon-signal","icon-trash","icon-time","icon-repeat","icon-lock","icon-flag","icon-ok-circle","icon-remove-circle","icon-arrow-up","icon-arrow-down","icon-plus","icon-minus","icon-asterisk","icon-exclamation-sign","icon-warning-sign"]
  =f.input :images, :collection => icons

  = f.button :submit, :class => 'btn-primary'
