%div.page-header
  %h1 Status
.container
  %table.table.table-bordered.table-striped.table-condensed
    %thead
      %tr
        %th Status
        %th Description
        %th Icon
        %th
    %tbody
      -@statuses.each do |status|
        %tr
          %td= link_to status.name, status
          %td= status.description
          %td
            %i{:class=>status.images}
          %td
            %button.btn.btn-warning.btn-small
              %i.icon-edit
              = link_to 'Edit', edit_status_path(status)
          %td
            %button.btn.btn-danger.btn-small
              %i.icon-remove-sign
              = link_to 'Delete', status, :confirm => 'Are you sure?', :method => :delete
  %p
    %button.btn.btn-success
      = link_to 'New Status', new_status_path
