%h1 Events

%table.data
  %tr
    %th Status
    %th Service
    %th Timestamp
    %th Message
    %th
    %th
    %th

  - @events.each do |event|
    %tr
      %td= event.Status
      %td= event.Service
      %td= event.timestamp
      %td= event.message
      %td= link_to 'Show', event
      %td= link_to 'Edit', edit_event_path(event)
      %td= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete

%br

-#= link_to 'New Event', new_event_path
