%div.page-header
  %h1 Events
.container
  %table.table.table-bordered.table-striped.table-condensed
    %thead
    %tr
      %th Event
      %th Time Created
      %th Time Updated
      %th Service
      %th Status
    - @events.each do |event|
      %tr
        %td= link_to event.message,event
        %td= event.created_at
        %td= event.updated_at
        %td= event.service_id
        %td= event.status_id

-#= link_to 'New Event', new_event_path
