!!!
%html
  %head
    %title Stashed
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
  %header.navbar.navbar-fixed
    .navbar-inner
      .container
        %a.brand{:href => "/"} Stashboard
        %ul.nav
          %li
            %a{:href => "/"} Home
          -if current_user
            %li
              %a{:href => "/"} Admin
            %li
              %a{:href => "/services"} Services
            %li
              %a{:href => "/statuses"} Status
            %li
              %a{:href => "/events"} Events
            %li
              %a{:href => log_out_path} Logout
            %li
              %a{} #{current_user.email} is currently logged in
          -else
            %li
              %a{:href => log_in_path} Admin
            %li
              %a{:href => new_user_path } Sign up
            %li
              %a{:href => log_in_path} Login
  .container.master-container
    .row-fluid
      = yield

  %footer.container
    Copyright 2012
    %a{:href => "http://www.hareesh.net "} Hareesh Chandrupatla

